#ifndef CREDENTIALS_H_
#define CREDENTIALS_H_

namespace jog_controller {

constexpr char* kSsid = "...";
constexpr char* kPassword = "...";

constexpr char* kHost = "...";
constexpr uint16_t kPort = 5533;

}  // namespace jog_controller

#endif  // CREDENTIALS_H_
